body {
    margin: 0px;
    line-height: 1.4;
    /* letter-spacing: 10px; */
    /* font-family:  "Helvetica", "Comic Sans MS", sans-serif; */
    /* font-family: sans-serif; */
    font-family: serif;
    font-size: 16px;

    
}
.header{
    /* width: 500px;  */
    /* height: 50vh;
    width: 50vw; */

    /* width: 50vmin; */
    /* width: 50vmax; */
    background: grey;
    padding: 20px;
    /* color: rgb(87, 255, 51);
    color: #000000; */
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.header-nav{
    width: 50%; /* par rapport contenneur */
    background: orange;
    margin: 20px 0;
    text-align: center;
}

.header-nav a{
    margin: 0px 20px;
    /* color: #ffffff; */
    color: inherit;
    text-decoration: none;
    font-weight: 900;
    font-style: italic;
}

.header-nav a:hover{
    text-decoration: underline;
}


.header img{
    width: 100%;
    height: auto
}
span{
    text-decoration: line-through;
}

.header-title {
    margin-top: 0px;
}

.main{
    background: lightgray;
    padding: 20px;
    line-height: 1.4;
    font-size: 16px;
}

.main p{
    text-align: justify;
    text-indent: 50px;
    /* width: 200px; */
    /* overflow-wrap: break-word; */
    /* word-break: break-all; */
    /* text-align-last: center; */
    /* text-decoration: underline; */
        /* margin: 1em; */
        /* margin: 1rem; */

}

.main p:first-of-type::first-letter{
    font-weight: bold;
    font-size: 100px;
}

.footer{
    background: lightgreen;
    padding: 10px
}

.button{
    color: #FFFFFF;
    background: #286E3D;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5em;
}