body {
    margin: 0px;
}
.header{
    background: grey;
    padding: 20px;
    /* padding: 20px 10px 5px 0px; */
    /* padding: 20px 10px 5px; */
    /* padding: 20px 10px; */
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px; */
    /* margin-top: 50px; */
}

.header-nav{
    margin: 20px 0;
}

/* span{
    background: lightgreen
} */

.header-nav a{
    margin: 0px 20px;
    /* padding: 0px 20px; */
}
.header img{
    width: 100%;
    height: auto
}

.header-title {
    margin-top: 0px;
}

.main{
    background: lightgray;
    padding: 20px
}

.footer{
    background: lightgreen;
    padding: 10px
}